{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}
Iniciar sesión
{% endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/login.css' %}">
{% endblock %}

{% block body %}
    <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column login-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <div id="login-page" class="row">
                        <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
                            {% if form.errors %}
                            <div class="card-alert card red">
                                <div class="card-content white-text">
                                    {{form.non_field_errors}}
                                </div>
                                <button type="button" class="close white-text" data-dismiss="alert" aria-label="Cerrar">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            {% endif %}
                            <form class="login-form" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <h5 class="ml-4">Iniciar sesión</h5>
                                    </div>
                                </div>
                                <div class="row margin">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix pt-2">person_outline</i>
                                        <input name="username" id="id_username" type="text" autofocus required>
                                        <label for="id_username" class="center-align">Usuario</label>
                                    </div>
                                </div>
                                <div class="row margin">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix pt-2">lock_outline</i>
                                        <input name="password" id="id_password" type="password" autofocus required>
                                        <label for="id_password">Contraseña</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12 l12 ml-2 mt-1">
                                        <p>
                                            <label>
                                                <input type="checkbox" />
                                                <span>Recordar</span>
                                            </label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Entrar</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6 m6 l6">
                                        <p class="margin medium-small"><a href="{% url 'authentication:register' %}">¡Regístrate ahora!</a></p>
                                    </div>
                                    <div class="input-field col s6 m6 l6">
                                        <p class="margin right-align medium-small"><a href="{% url 'authentication:password_reset' %}">Recuperar contraseña</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}