{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}
Registrarse
{% endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/register.css' %}">
{% endblock %}

{% block body %}
<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column register-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="register-page" class="row">
                    <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 register-card bg-opacity-8">
                        <form class="login-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <h5 class="ml-4">Registro</h5>
                                    <p class="ml-4">¡Únete a nuestra comunidad ahora!</p>
                                </div>
                            </div>

                            {% include 'generic/forms/input.html' with field=form.username label="Nombre usuario" col="s12" %}
                            {% include 'generic/forms/input.html' with field=form.password1 label="Contraseña" col="s12" %}
                            {% include 'generic/forms/input.html' with field=form.password2 label="Contraseña (Confirmación)" col="s12" %}

                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12" type="submit">Registrarte</button>   
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p class="margin medium-small"><a href="/login">¿Ya tienes una cuenta? Inicia sesión</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

