{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}
Restablecer contraseña
{% endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/forgot.css' %}">
{% endblock %}

{% block body %}
<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column forgot-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="forgot-password" class="row">
                    <div class="col s12 m6 l4 z-depth-4 offset-m4 card-panel border-radius-6 forgot-card bg-opacity-8">
                        {{form.errors}}
                        <form class="login-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <h5 class="ml-4">¿Tienes problemas para iniciar sesión?</h5>
                                    <p class="ml-4">Ingresa tu correo electrónico y te enviaremos un enlace para recuperar el acceso a tu cuenta.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">email</i>
                                    <input id="id_email" name="email" type="email" required autofocus>
                                    <label for="id_email" class="center-align">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12 mb-1">
                                        Enviar enlace
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6 l6">
                                    <p class="margin medium-small">
                                        <a href="{% url 'authentication:login' %}">Iniciar sesión</a>
                                    </p>
                                </div>
                                <div class="input-field col s6 m6 l6">
                                    <p class="margin right-align medium-small">
                                        <a href="{% url 'authentication:register' %}">Crear cuenta</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}