{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}
Restablecer contraseña
{% endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/forgot.css' %}">
{% endblock %}

{% block body %}
<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column forgot-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="forgot-password" class="row">
                    <div class="col s12 m6 l4 z-depth-4 offset-m4 card-panel border-radius-6 forgot-card bg-opacity-8">
                        {% if form.errors %}
                        <div class="card-alert card red">
                            <div class="card-content white-text">
                                {{form.new_password2.errors}}
                            </div>
                            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Cerrar">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endif %}
                        <form class="login-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <h5 class="ml-4">Escriba la nueva contraseña</h5>
                                    <p class="ml-4">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">lock_outline</i>
                                    <input id="id_new_password1" name="new_password1" type="password" required autofocus>
                                    <label for="id_new_password1" class="center-align">Contraseña</label>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix pt-2">lock_outline</i>
                                        <input id="id_new_password2" name="new_password2" type="password" required>
                                        <label for="id_new_password2" class="center-align">Confirmar contraseña</label>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12 mb-1">
                                        Cambiar mi contraseña
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}