{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}
Restablecimiento de contraseña enviado
{% endblock%}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/forgot.css' %}">
{% endblock %}

{% block body %}
    <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column forgot-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <div id="forgot-password" class="row">
                        <div class="col s12 m6 l4 z-depth-4 offset-m4 card-panel border-radius-6 forgot-card bg-opacity-8">
                            <div class="row">
                                <div class="input-field col s12">
                                    <h5 class="ml-4">Restablecimiento de contraseña enviado</h5>
                                </div>
                            </div>

                            <div class="row margin">
                                <div class="input-field col s12">
                                    <p>Hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
                                    <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}