{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}
Restablecer contraseña
{% endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/forgot.css' %}">
{% endblock %}

{% block body %}
    <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column forgot-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <div id="forgot-password" class="row">
                        <div class="col s12 m6 l4 z-depth-4 offset-m4 card-panel border-radius-6 forgot-card bg-opacity-8">
                            <div class="row">
                                <div class="input-field col s12">
                                    <h5 class="ml-4">Restablecimiento de contraseña completado</h5>
                                </div>
                            </div>

                            <div class="row margin">
                                <div class="input-field col s12">
                                    Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <a href="{% url 'authentication:login' %}" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">
                                        Ingresar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}