{% extends 'generic/form.html' %}

{% block title %}Configuración{% endblock %}

{% block form_page_title %}
  <i class="material-icons">settings</i>
  Configuración
{% endblock %}

{% block form_page_subtitle_description %}Configure su sitio{% endblock %}

{% block form_title %}
  <i class="material-icons">settings</i>
  Complete el formulario para configurar su sitio
{% endblock %}

{% block form_sidebar_title %}Necesitas configurar tu sitio?{% endblock %}

{% block form_sidebar_description %}Estás en el lugar correcto! sigue las indicaciones para configurar tu sitio.{% endblock %}

{% block content_form %}
  {{form.errors}}
  {% include 'generic/forms/input.html' with field=form.logo name="logo" default=form.instance.logo.url %}
  {% include 'generic/forms/input.html' with field=form.name label="Nombre" col="s12" %}
  {% include 'generic/forms/input.html' with field=form.slogan label="Slogan" col="s12" %}
  {% include 'generic/forms/input.html' with field=form.email label="Email de soporte" col="s12" %}
  {% include 'generic/forms/input.html' with field=form.phone_number label="Teléfono de contacto" col="s12" %}
  {% include 'generic/forms/input.html' with field=form.description label="Descripción" col="s12" %}
  {% include 'generic/forms/input.html' with field=form.keywords label="Palabras clave" col="s12" %}

  {% include 'generic/forms/input.html' with field=form.instagram label="Instagram" col="s12" %}
  {% include 'generic/forms/input.html' with field=form.facebook label="Facebook" col="s12" %}
  {% include 'generic/forms/input.html' with field=form.twitter label="Twitter" col="s12" %}
{% endblock %}

{% block customizer %}
  {% include 'customizer/customizer.html' %}
{% endblock %}

{% block pageleveljs %}
    <script>
        $('#id_logo').dropify({
            messages: {
                default: 'Agrega un logo al sitio',
                replace: 'Haz clic para reemplazar la imagen',
                remove:  'Quitar',
                error:   'El tipo de documento no valido'
            }
        });
    </script>
{% endblock %}