{% load static %}
<!DOCTYPE html>
<html class="loading" lang="es-CL" data-textdirection="ltr">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta name="description" content="{{SITE_DESCRIPTION}}">
      <meta name="keywords" content="{{SITE_KEYWORDS}}">
      <meta name="author" content="The Coders Company">
      <title>{% block title %}{% endblock %} - {{SITE_NAME}}</title>
      <link rel="apple-touch-icon" href="{% static 'app-assets/images/favicon/apple-touch-icon-152x152.png' %}">
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'app-assets/images/favicon/favicon-32x32.png' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/vendors.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/flag-icon/css/flag-icon.min.css' %}">
      {% block vendorcss %}{% endblock %}
      <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/materialize.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/style.css' %}">
      {% block pagelevelcss %}{% endblock %}
      <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/custom/custom.css' %}">
      {% block customcss %}{% endblock %}
   </head>
   <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 2-columns app-page" data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">
      <!-- BEGIN: Header-->
      {% include 'generic/header.html' %}
      <!-- END: Header-->

      <!-- BEGIN: SideNav-->
      {% include 'generic/sidenav.html' %}
      <!-- END: SideNav-->

      <!-- BEGIN: Page Main-->
      <div id="main" {% if MENU_COLLAPSED %}class="main-full"{% endif %}>
         <div class="row">
            <div class="content-wrapper-before {{NAVBAR_COLOR}}"></div>
            <div class="col s12">
               <div class="container">
                  {% block container %}{% endblock %}
               </div>
            </div>
         </div>
      </div>
      <!-- END: Page Main-->

      {% block modal %}{% endblock %}

      <!-- Theme Customizer -->
      {% block customizer %}{% endblock %}
      <!--/ Theme Customizer -->

      <footer class="page-footer footer {{FOOTER_DARK_CLASS}} gradient-shadow navbar-border navbar-shadow {% if FOOTER_FIXED %}footer-fixed{% else %}footer-static{% endif %}">
         <div class="footer-copyright">
            <div class="container"><span>&copy; 2020 <a href="/" target="_blank">{{SITE_NAME}}</a> Todos los derechos reservados.</span><span class="right hide-on-small-only">Desarrollado por <a href="#">The Coders Company</a></span></div>
         </div>   
      </footer>

      <script src="{% static 'app-assets/js/vendors.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'app-assets/vendors/sweetalert/sweetalert.min.js' %}"></script>
      <script>
         function themeCustomizer(event) {
            let qname = event.getAttribute('name')
            let qvalue = null
            
            if (event.type === "checkbox") {
               qvalue = event.checked === true ? 1 : 0
            } else {
               qvalue = event.dataset.code || event.value
            }
            
            fetch("{% url 'settings:customizer' %}?" + qname + "=" + qvalue)
            .then(data => data.json())
            .then(res => {
               console.log('hi', res)
            })
            
         }
      </script>

      {% block vendorjs %}{% endblock %}
      {% block pagevendorjs %}{% endblock%}
      {% block themejs %}{% endblock%}
      {% block pageleveljs %}{% endblock%}

      {% if messages %}
      <script>
         {% for message in messages %}
         {% if message.level == 25 %}
         swal("Listo!", "{{message}} ", "success")
         {% elif message.level == 40 %}
         swal("Algo paso!", "{{message}} ", "error")
         {% endif %}
         {% endfor %}
      </script>
      {% endif %}
   </body>
</html>