{% load static %}

<header class="page-topbar" id="header">
    <div class="navbar{% if NAVBAR_FIXED %} navbar-fixed{% endif %}"> 
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark {{NAVBAR_COLOR}} no-shadow">
            <div class="nav-wrapper">
                <div class="header-search-wrapper hide-on-med-and-down"><i class="material-icons">search</i>
                    <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Explorar" disabled>
                </div>
                <ul class="navbar-list right">
                    <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light translation-button" href="javascript:void(0);" data-target="translation-dropdown"><span class="flag-icon flag-icon-gb"></span></a></li>
                    <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a></li>
                    <li class="hide-on-large-only"><a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);"><i class="material-icons">search</i></a></li>
                    <li><a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown"><i class="material-icons">notifications_none<small class="notification-badge">1</small></i></a></li>
                    <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"><span class="avatar-status avatar-online"><img src="{% get_media_prefix %}{{request.user.userprofile.avatar}}" alt="avatar"><i></i></span></a></li>
                    <li><a class="waves-effect waves-block waves-light sidenav-trigger" href="#" data-target="slide-out-right"><i class="material-icons">format_indent_increase</i></a></li>
                </ul>
                <!-- translation-button-->
                <ul class="dropdown-content" id="translation-dropdown">
                    <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-gb"></i> English</a></li>
                    <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-es"></i> Spanish</a></li>
                    <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-fr"></i> French</a></li>
                    <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-cn"></i> Chinese</a></li>
                    <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-de"></i> German</a></li>
                </ul>
                <!-- notifications-dropdown-->
                <ul class="dropdown-content" id="notifications-dropdown">
                    <li>
                        <h6>Notificaciones<span class="new badge">1</span></h6>
                    </li>
                    <li class="divider"></li>
                    
                    <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                    </li>
                </ul>
                <!-- profile-dropdown-->
                <ul class="dropdown-content" id="profile-dropdown">
                    <li><a class="grey-text text-darken-1" href="{% url 'users:edit' request.user.id %}"><i class="material-icons">person_outline</i> Perfil</a></li>
                    <li class="divider"></li>
                    <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">lock_outline</i> Bloquear</a></li>
                    <li><a class="grey-text text-darken-1" href="{% url 'authentication:logout' %}"><i class="material-icons">keyboard_tab</i> Cerrar sesión</a></li>
                </ul>
            </div>
            <nav class="display-none search-sm">
            <div class="nav-wrapper">
                <form>
                <div class="input-field">
                    <input class="search-box-sm" type="search" required="">
                    <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i class="material-icons search-sm-close">close</i>
                </div>
                </form>
            </div>
            </nav>
        </nav>
    </div>
</header>