{% load static %}
<aside class="sidenav-main nav-expanded nav-collapsible sidenav-light {{MENU_SELECTION_CLASS}} {% if MENU_COLLAPSED %}nav-collapsed{% else %}nav-lock{% endif %}">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a class="brand-logo darken-1" href="/">
                <img src="{% static 'app-assets/images/logo/logo-color.png' %}" alt="logo"/>
                <span class="logo-text hide-on-med-and-down">Dashboard</span>
            </a>
            <a class="navbar-toggler" href="#"><i class="material-icons">radio_button_checked</i></a>
        </h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
        <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="">Dashboard</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li><a class="collapsible-body" href="#" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Work in progress</span></a></li>
                </ul>
            </div>
        </li>
        {% if request.user.is_superuser %}
            <li class="{% if menu == 'users' %}active{% endif %} bold"><a class="waves-effect waves-cyan {% if menu == 'users' %}active {{MENU_COLOR}}{% endif %}" href="{% url 'users:index' %}"><i class="material-icons">group</i><span class="menu-title" data-i18n="">Usuarios</span></a> </li>
            <li class="{% if menu == 'settings' %}active{% endif %} bold"><a class="waves-effect waves-cyan {% if menu == 'settings' %}active {{MENU_COLOR}}{% endif %}" href="{% url 'settings:index' %}"><i class="material-icons">settings</i><span class="menu-title" data-i18n="">Configuración</span></a> </li>
        {% endif %}
        <li class="navigation-header"><a class="navigation-header-text">Ayuda </a><i class="navigation-header-icon material-icons">more_horiz</i></li>
        <li class="bold"><a class="waves-effect waves-cyan " href="#"><i class="material-icons">import_contacts</i><span class="menu-title" data-i18n="">Preguntas frecuentes</span></a></li>
        <li class="bold"><a class="waves-effect waves-cyan " href="#"><i class="material-icons">help_outline</i><span class="menu-title" data-i18n="">Soporte</span></a></li>
    </ul>
    <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>