{% extends 'generic/base.html' %}
{% load static %}

{% block title %}
Usuarios
{% endblock %}

{% block vendorcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/data-tables/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css' %}">
{% endblock %}

{% block pagelevelcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-contacts.css' %}">
{% endblock %}

{% block customcss %}{% endblock %}

{% block container %}
<!-- Add new contact popup -->
<div style="bottom: 54px; right: 19px;" class="fixed-action-btn direction-top">
    <a class="btn-floating btn-large primary-text gradient-shadow modal-trigger" href="{% url 'users:create' %}">
        <i class="material-icons">person_add</i>
    </a>
</div>
<!-- Add new contact popup Ends-->
      
<!-- Sidebar Area Starts -->
<div class="sidebar-left sidebar-fixed">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="sidebar-header">
                <div class="sidebar-details">
                    <h5 class="m-0 sidebar-title"><i class="material-icons app-header-icon text-top">group</i> Usuarios</h5>
                    <div class="mt-10 pt-2">
                        <p class="m-0 subtitle font-weight-700">Total de usuarios</p>
                        <p class="m-0 text-muted">{{total_users}} Usuarios</p>
                        
                    </div>
                </div>
            </div>
            <div id="sidebar-list" class="sidebar-menu list-group position-relative animate fadeLeft delay-1">
                <div class="sidebar-list-padding app-sidebar sidenav" id="contact-sidenav">
                    <ul id="sub-menu" class="contact-list display-grid">
                        <li class="sidebar-title">Filtros</li>
                        <li class="active">
                            <a href="{% url 'users:index' %}" class="text-sub">
                                <i class="material-icons mr-2"> perm_identity </i> Todos los usuarios
                            </a>
                        </li>
                        <li class="sidebar-title">Estado</li>
                        <li>
                            <a href="#" data-active="true" class="text-sub status-filter">
                                <i class="green-text material-icons small-icons mr-2">fiber_manual_record</i> Activo
                            </a>
                        </li>
                        <li>
                            <a href="#" data-active="false" class="text-sub status-filter">
                                <i class="red-text material-icons small-icons mr-2">fiber_manual_record</i> Inactivo
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#" data-target="contact-sidenav" class="sidenav-trigger hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </div>
</div>
<!-- Sidebar Area Ends -->
      
<!-- Content Area Starts -->
<div class="content-area content-right">
    <div class="app-wrapper">
        <div class="datatable-search">
            <i class="material-icons mr-2 search-icon">search</i>
            <input type="text" placeholder="Buscar usuario" class="app-filter" id="global_filter">
        </div>
        <div id="button-trigger" class="card card card-default scrollspy border-radius-6 fixed-width">
            <div class="card-content p-0">
                <table id="data-table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Email</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Content Area Ends -->
{% endblock %}

{% block pagevendorjs %}
    <script src="{% static 'app-assets/vendors/data-tables/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js' %}" type="text/javascript"></script>
{% endblock%}

{% block themejs %}
    <script src="{% static 'app-assets/js/plugins.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/custom/custom-script.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/scripts/customizer.js' %}" type="text/javascript"></script>
{% endblock%}

{% block pageleveljs %}
    <script src="{% static 'app-assets/js/scripts/app-users.js' %}" type="text/javascript"></script>
    <script>
    function remove(event) {
        event.stopPropagation()
        userId = event.target.dataset.userId
        swal({
            title: "Estas seguro?",
            text: "Se eliminará el usuario seleccionado",
            icon: 'warning',
            buttons: {
                cancel: 'Cancelar',
                delete: 'Aceptar'
            }
        })
        .then(id => {
            fetch('/users/' + userId + '/delete')
            .then(data => data.json())
            .then(json => {
                $('#data-table').DataTable().ajax.reload()
                swal({ title: 'Listo!', icon: 'success' })
            })
        })
    }
    </script>
{% endblock%}